body {
    display: flex;
    flex-direction: column;
    
}

.header {
    background-color: #1f2937;
}

.topheader {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
    height: 50px;
}

.mainheader {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    display: flex;
    margin: 0px 150px;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.leftmain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    
}

img {
    width: 450px;
    height: 200px;
    
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    display: flex;
    gap: 20px;
}

.button1 {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 6px;
    padding: 5px 10px;
}