body {
    display: flex;
    flex-direction: column;
    
}

.header {
    background-color: #1f2937;
}

.topheader {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
    height: 50px;
}

.mainheader {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    display: flex;
    margin: 0px 150px;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.leftmain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    
}

img {
    width: 450px;
    height: 200px;
    
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    display: flex;
    gap: 20px;
}

button {
    border-radius: 6px;
    padding: 5px 10px;
    background-color: #3882f6;
    color: #F9FAF8;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

.infoimg {
    width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.kiedis,
.author {
    width: 600px;
}

.kiedis {
    font-size: 36px;
    margin-bottom: 0px;
    font-style: italic;
}

.author {
    text-align: right;
    margin-right: 80px;
    margin-top: 10px;
}

.callcontainer {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.bluebox {
    background-color: #3882f6;
    padding: 25px 60px;
    display: flex;
    align-items: flex-start;
    border-radius: 6px;
    color: #E5E7EB;;
    padding: 50px 100px;
    gap: 50px;
}

.button2 {
    border-color: #E5E7EB;
}

.cta,
.cta-desc {
    margin: 0px;
}



